{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.pug", "*.css", "*.scss", "*.pcss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
