{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
  "rules": {
    "block-no-empty": null,
    "no-descending-specificity": null,
    "selector-class-pattern": "^(?:c|is|has|u)-(?:[a-z0-9-]+?_)?[a-z0-9-]+$"
  }
}
