.c-container {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  height: 100%;
  background-color: #d9435f0f;

  &.is-768 {
    max-width: 768px;
  }
  &.is-1200 {
    max-width: 1200px;
  }
  &.is-tablet {
    max-width: 768px;
  }
  &.is-small {
    max-width: 768px;
  }
  &.is-large {
    max-width: 1200px;
  }
  &.is-full {
    max-width: none;
  }
  &.is-no-pad {
    padding-left: 0;
    padding-right: 0;
  }
}
