.c-footer {
  height: 40px;
  background-color: #d9435f0f;
}
.c-footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #d9435f0f;
}
.c-footer_title {
  font-size: 14px;
  font-weight: bold;
}
.c-footer_copyright {
  font-size: 12px;
}
