.c-second {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 82px);
}

@media screen and (max-width: 767px) {
  .c-second {
    height: calc(100vh - 80px);
  }
}
