- const base = ".."
doctype html
html(lang='ja')
  include ../../partials/head.pug
  body.u-animation-stopped
    include ../../partials/header.pug
    main
      section.c-second
        p The second page

    include ../../partials/footer.pug
