- const base = "."
doctype html
html(lang='ja')
  include ../partials/head.pug
  body.u-animation-stopped
    include ../partials/header.pug
    main
      section
        .c-container
          .c-other-01 .c-container
      section
        .c-container.is-large
          .c-other-01 .c-container.is-large
      section
        .c-container.is-large.has-no-pad
          .c-container.is-full
            .c-other-01 .c-container.is-large.has-no-pad &gt; .c-container.is-full
          .c-container
            .c-other-01 .c-container.is-large.has-no-pad &gt; .c-container
      div
        section#section-01.u-h-400
          .c-container #c-section-01.u-h-400
        section#section-02.u-h-400
          .c-container #c-section-02.u-h-400
        .u-flex.u-justify-center
          .c-component-02(data-in='fade')
          .c-component-02(data-in='fade', data-in-out)
        section#section-03.u-h-400
          .c-container #c-section-03.u-h-400
    a.c-component-01(href='#', data-in='fade', data-in-out, data-in-top='200')
      span.u-sr-only TO TOP

    include ../partials/footer.pug
