footer.c-footer
  .c-container
    .c-footer_inner
      h1.c-footer_title Rabi Inc.
      p.c-footer_copyright
        | &copy;
        a(href='https://usagizmo.com', target='_blank', rel='noopener noreferrer') usagizmo
