html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic,
    "BIZ UDPGothic", Meiryo, sans-serif;

  /* font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", Meiryo, sans-serif; */
}
