html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic,
    "BIZ UDPGothic", Meiryo, sans-serif;

  /* font-family: -apple-system, blinkMacSystemFont, 'Helvetica Neue', "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif; */
}
